.col1 {
    width: 100%;
}

.col2 {
    width: 50%;
    float: left;
}

.col3 {
    width: 33,333%;
}

.col4 {
    width: 25%;
}

.col5 {
    width: 20%;
}

.col6 {
    width: 16,666%;
}

.col7 {
    width: 14,285714%;
}

.col8 {
    width: 12,5%;
}

.col9 {
    width: 11,111%;
}

.col10 {
    width: 10%;
}

.col11 {
    width: 9,09090909%;
}

.col12 {
    width: 8,333333%;
}