.menu {
    font-family: Lora, serif;
    text-align: center;       
}

.menu ul {
    background-color: goldenrod;
    position: fixed;
    padding: 5px;
    width: 100%;
}

.menu li {
    float: left;
    font-size: x-large;
    font-weight: normal;
}

.menu li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
}

p {
    margin: 1vw;
}

.imagemheader {
    background-color:goldenrod; 
}

h2 { 
    font-family: Lora, serif;
    font-size: 2em;
    text-align: center;
    background-color: darkolivegreen;
    color: blanchedalmond;
}

.caixona {
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    background-color: red;
}

.txt {
    font-family: Lora, serif;
    font-size: 1em;
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0;

}


.txtesquerda {
    font-family: Lora, serif;
    font-size: 1em;
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 2vw 0;
    float: left;
}

.txtdireita {
    font-family: Lora, serif;
    font-size: 1em;
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 2vw 0;
    float: right;
}

.imgesquerda {
    background-color: goldenrod;
    float: left;
    margin: 0px auto;
    padding: 0px;
}

.imgdireita {
    background-color: goldenrod;
    float: right;
    margin: 0px auto;
    padding: 0px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}