.menu {
    font-family: Robot-Light, sans-serif;
    text-align: center;       
}

.menu ul {
    background-color: goldenrod;
    position: fixed;
    padding: 5px;
    width: 100%;
}

.menu li {
    float: left;
    font-size: x-large;
    font-weight: normal;
}

.menu li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
}

body {
    font-family: Robot-Light, sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
}

p {
    margin: 1vw;
}


h2 { 
    font-family: Roboto-LightItalic, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: darkolivegreen;
    color: blanchedalmond;
    margin-top: 10px;
}

.caixona {
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    background-color: red;
}

.txt {
    
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0;

}

.cabecalhoesquerda {
    font-size: 1em;
    background-color: darkolivegreen;
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0px auto;
    float: left;
}

.cabecalhodireita {
    font-size: 1em;
    background-color: darkolivegree;
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0px auto;
    float: right;
    
}
.txtesquerda {
    font-size: 0.9em;
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0px auto;
    float: left;
}

.txtdireita {
    font-size: 1em;
    background-color: rgb(129, 32, 32);
    color: blanchedalmond;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0px auto;
    float: right;
}

.imgesquerda {
    background-color: goldenrod;
    float: left;
    margin: 0px auto;
    padding: 0px;
   
}

.imgdireita {
    background-color: goldenrod;
    float: right;
    margin: 0px auto;
    padding: 0px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}

.banana {
    margin-top: 10%;
}

footer p { 
    margin-top: 130px;
}

.txtfooter {
    background-color: darkolivegreen;
    font-size: 0.8em;
    text-align: left;
    margin: 0px auto;
    padding: 0px auto;
    float: left;
    height: 50%;
}

.meiofooter {
    background-color: darkolivegreen;
    margin: 0px auto;
    height: 50%;
    float: left;
}

.imagemfooter {
    background-color: darkolivegreen;
    margin: 0px auto;
    padding: 0px;
    float: left;
    height: 50%;   
}

.bananafooter {
    margin-top: 75px;
}